<header>
  <nav class="navbar navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=''>Sticky Notes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end text-bg-dark"
        tabindex="-1"
        id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item" >
              <button class="btn btn-dark" routerLink='add-group'>
                <i class="bi bi-collection" ></i>
                Agregar grupo
              </button>
            </li>
            <li class="nav-item">
              <button class="btn btn-dark" routerLink="add-note">
                <i class="bi bi-file-earmark-plus"></i>
                Agregar nota
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
