<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="../../../assets/sticky.png"
    alt=""
    width="92"
    height="77"
  />
  <h1 class="display-5 fw-bold">Sticky Notes</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Aplicacion para ordenar tus ideas y crear notas!.
      Estas notas se pueden clasificar en grupos y colocar color por prioridad.
      Prueba la app ahora!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-warning btn-lg px-4 gap-3 " style="color:white;">
        Agregar nota
      </button>
    </div>
  </div>
</div>
