<div class="container">
  <!-- buttons section -->
  <div class="buttons-section">
    <button class="btn btnGroup" (click)="addGroup()">
      <i class="bi bi-collection"></i> Agregar Grupo
    </button>
    <button class="btn btnNote" (click)="addNotes()">
      <i class="bi bi-file-earmark-plus"></i> Agregar Nota
    </button>
  </div>

  <!-- creation section -->
  <div class="card cardNote mb-3" style="max-width: 18rem" *ngIf="note">
    <div class="card-header">Crea una nota</div>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Título</label
        >
        <input
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Contenido</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="card cardGroup mb-3" style="max-width: 18rem" *ngIf="groupp">
    <div class="card-header">Crea un grupo</div>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Título</label
        >
        <input
          type="text"
          class="form-control"
        />
      </div>
    </div>
  </div>

  <!-- welcom message -->
  <div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="../../../assets/sticky.png"
      alt=""
      width="92"
      height="77"
    />
    <h1 class="display-5 fw-bold">Sticky Notes</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Aplicacion para ordenar tus ideas y crear notas!. Estas notas se pueden
        clasificar en grupos y colocar color por prioridad. Prueba la app ahora!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>
</div>
