.btnGroup {
  background-color: #f26835;
  color: white;
  margin: 1rem;
}
.btnNote {
  background-color: #a9da48;
  color: white;
  margin: 1rem;
}
.buttons-section {
  display: flex;
  justify-content: flex-end;
}

